*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/foto.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  color: #666;

  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 80rem;
}
.form {
}
.form__h1 {
}
.form__content {
  background-color: #00000044;
  box-shadow: 0 0.5rem 0.6rem rgb(0, 0, 0, 63%);
  border: solid transparent 0.01rem;
  border-radius: 0.5rem;
  margin: 0 10rem;
  padding: 4rem;
}
.form__box:not(:last-child) {
  margin-bottom: 2.5rem;
}
/* text */
.form__input-text {
  background-color: #eee;
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  font-family: inherit;
  color: inherit;
  border: none;
  display: block;

  transition: all 0.3s;
}
.form__input-text:invalid {
  border-bottom: solid 3px transparent;
}
.form__input-text:focus {
  border-bottom: solid 3px #c00000;
  outline: none;
}
.form__input-text:valid {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: solid 3px #55c57a;
}
.form__input-text::placeholder {
  color: #999;
}
.form__label-text {
  font: menu;
  display: block;
  width: 10%;
  float: right;

  transition: all 0.3s;
}
.form__label-text::after {
  content: "";
  display: table;
  clear: both;
}
.form__input-text:placeholder-shown + .form__label-text {
  visibility: hidden;
  opacity: 0;
  transform: translateX(4rem);
}
/* radio */
.form__div-box {
  display: inline-block;
}
.form__input-radio {
  display: none;
}
/* radio checkbox */
.form__label-radio,
.form__label-checkbox {
  cursor: pointer;
  position: relative;
  font-size: medium;
}
.form__span-radio {
  border: solid 0.5rem blue;
  height: 2.2rem;
  width: 2.2rem;
  display: inline-block;
  left: 0;
  border-radius: 50%;
  position: absolute;
}
.form__span-radio::after {
  background-color: blue;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-radio:checked ~ .form__label-radio .form__span-radio::after {
  opacity: 1;
}
/*sespacio*/
.form__span-space {
  padding-right: 3rem;
}
.form__span-radio-checkbox {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 3rem;
}

/* textarea*/
.form__label-textarea {
}
.form__textarea-content {
  width: 100%;
}
/* checkbox */
.form__input-checkbox {
  display: none;
}
.form__span-checkbox {
  background-color: #eee;
  height: 2.2rem;
  width: 2.2rem;
  display: inline-block;
  left: 0;
  border-radius: 0.5rem;
  position: absolute;
}
.form__span-checkbox::after {
  background-color: #55c57a;
  clip-path: polygon(82% 6%, 100% 16%, 50% 100%, 0 67%, 8% 49%, 42% 69%);
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-checkbox:checked
  ~ .form__label-checkbox
  .form__span-checkbox::after {
  opacity: 1;
}
/* boton */
.btn {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  width: 100%;
  border-radius: 3rem;
  border: none;
}
.btn:focus {
  outline: none;
}
.btn .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}
.btn__color {
  background-color: purple;
  color: #fff;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
