*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: cadetblue;
}
.container {
  max-width: 90rem;
  margin: 10rem auto;
}
.form {
}
.form__h1 {
}
.form__content {
  border: solid 0.01rem;
  margin: 0 10rem;
  padding: 4rem;
}
.form__box:not(:last-child) {
  margin-bottom: 1.5rem;
}
/* text */
.form__input-text {
  background-color: #eee;
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  font-family: inherit;
  color: inherit;
  border: none;
  display: block;

  transition: all 0.3s;
}
.form__input-text:invalid {
  border-bottom: solid 3px transparent;
}
.form__input-text:focus {
  border-bottom: solid 3px #c00000;
  outline: none;
}
.form__input-text:valid {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: solid 3px #55c57a;
}
.form__input-text::placeholder {
  color: #999;
}
.form__label-text {
  font: menu;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
  display: block;

  transition: all 0.3s;
}
.form__input-text:placeholder-shown + .form__label-text {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-4rem);
}
/* radio */
.form__div-box {
  display: inline-block;
}
.form__input-radio {
  display: none;
}
/* radio checkbox */
.form__label-radio ,
.form__label-checkbox {
  cursor: pointer;
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 2.5rem;
}
.form__label-radio:not(:first-child) {
  padding-right: 3rem;
}
.form__span-radio {
  border: solid 0.5rem blue;
  height: 2.2rem;
  width: 2.2rem;
  display: inline-block;
  left: 0;
  top: -0.2rem;
  border-radius: 50%;
  position: absolute;
}
.form__span-radio::after {
  background-color: blue;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-radio:checked ~ .form__label-radio .form__span-radio::after {
  opacity: 1;
}
/* textarea*/
.form__label-textarea {

}
.form__textarea-content {
  width: 100%;
}
/* checkbox */
.form__input-checkbox {
  display: none;
}
.form__span-checkbox {
  background-color: #eee;
  height: 2.2rem;
  width: 2.2rem;
  display: inline-block;
  left: 0;
  top: -0.2rem;
  border-radius: .5rem;
  position: absolute;
}
.form__span-checkbox::after {
  background-color: #55c57a;
  clip-path: polygon(82% 6%, 100% 16%, 50% 100%, 0 67%, 8% 49%, 42% 69%);
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-checkbox:checked ~ .form__label-checkbox .form__span-checkbox::after {
  opacity: 1;
}
/* boton */
.btn {
  padding: 1rem;
}
.btn__color {
  background-color: tomato;
  border: none;
}
.form *:disabled {
  cursor: default;
  filter: blur(2px);
}
