*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@media only screen and (min-width: 160em) {
  /* 4K 2570px */
  html {
    font-size: 75%; /* 8px/16px= 0,75 */
  }
}
html {
  font-size: 62.5%; /* 10px/16px= 0,625 */
}

@media only screen and (max-width: 48em) {
  /* table 768px */
  html {
    font-size: 50%; /* 8px/16px= 0,5 */
  }
}
@media only screen and (max-width: 20em) {
  /* Mobile S 320px */
  html {
    font-size: 43.75%; /* 7px/16px= 0,4375 */
  }
}

body {
  box-sizing: border-box;
  background-image: url("../img/fotoBig.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  font-family: "Raleway", sans-serif;
  color: #c4c2c2;

  height: 90vh;
}
.container {
  max-width: 40rem;
  margin: 12rem auto;
}
@media only screen and (min-width: 160em) {
  .container {
    margin: 40rem auto;
  }
}
.form {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.39);
  border: solid transparent 0.01rem;
  border-radius: 0.5rem;
  padding: 4rem;
}
.form__box:not(:last-child) {
  margin-bottom: .8rem;
}
.form__box:nth-child(4) {
  margin-bottom: 0rem;
}
.form__box:nth-child(7) {
  margin-bottom: 0rem;
}

.form__h1 {
}
/* text */
.form__input-text {
  background-color: #eee;
  width: 100%;
  font-size: 1.5rem;
  padding: 1.3rem 2rem;
  border-radius: 2px;
  font-family: inherit;
  color: #333;
  border: none;
  display: block;

  transition: all 0.3s;
}
.form__input-text:invalid {
  border-bottom: solid 3px transparent;
}
.form__input-text:focus {
  border-bottom: solid 3px #ff0000c7;
  outline: none;
}
.form__input-text:valid {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: solid 3px#219ebc;
}
.form__input-text::-webkit-input-placeholder {
  color: #999;
}
.form__input-text::-moz-placeholder {
  color: #999;
}
.form__input-text:-ms-input-placeholder {
  color: #999;
}
.form__input-text::-ms-input-placeholder {
  color: #999;
}
.form__input-text::placeholder {
  color: #999;
}
.form__label-text {
  font: menu;
  display: block;
  text-align: right;

  transition: all 0.2s ease;
}
@media only screen and (max-width: 48em) {
  /* table 768px */
  .form__label-text {
    font-size: x-small;
  }
}
.form__input-text:placeholder-shown + .form__label-text {
  visibility: hidden;
  opacity: 0;
  transform: translateX(4rem);
}
/* radio */
.form__div-box {
  display: inline-block;
}
/* radio checkbox */
.form__input-radio,
.form__input-checkbox {
  display: none;
}
.form__label-radio,
.form__label-checkbox {
  cursor: pointer;
  position: relative;
  font-size: medium;
}
.form__span-radio {
  display: block;
  border: solid 0.1rem #eee;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 2.4rem;
  width: 2.4rem;
  left: 0;
  bottom: -0.42rem;
  border-radius: 50%;
  position: absolute;
}
.form__input-radio:checked ~ .form__label-radio .form__span-radio {
  border: solid 0.5rem transparent;
  background-color: #219ebc;
  transition: all 0.6s;
}
.form__span-radio::after {
  background-color: #eee;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  border-radius: inherit;
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-radio:checked ~ .form__label-radio .form__span-radio::after {
  opacity: 1;
}
.form__span-basic {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* textarea*/
.form__textarea {
  margin: 1.2rem 0;
  background-color: #eee;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  resize: none;
  outline: none;
}

/* checkbox */
.form__span-checkbox {
  border: solid 0.1rem #eee;
  height: 2.2rem;
  width: 2.2rem;
  bottom: -0.35rem;
  display: inline-block;
  left: 0;
  border-radius: 0.4rem;
  position: absolute;
}
@media only screen and (max-width: 48em) {
  /* table 768px */
  .form__span-checkbox {
    bottom: -0.2rem;
  }
}
.form__input-checkbox:checked ~ .form__label-checkbox .form__span-checkbox {
  border: solid 0.4rem transparent;
  background-color: #219ebc;
  transition: all 0.6s;
}
.form__span-checkbox::after {
  background-color: #eee;
  -webkit-clip-path: polygon(82% 10%, 96% 22%, 40% 94%, 5% 61%, 17% 48%, 38% 66%);
  clip-path: polygon(82% 10%, 96% 22%, 40% 94%, 5% 61%, 17% 48%, 38% 66%);
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__input-checkbox:checked ~ .form__label-checkbox .form__span-checkbox::after {
  opacity: 1;
}
.form__span-terms {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 3rem;
}
.form__a-terms {
  color: currentColor;
  transition: ease-in 0.2s;
}
.form__a-terms:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
/* boton */
.btn {
  position: relative;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 2rem 2rem;
  overflow: hidden;
  margin: 1.5rem 0;
  position: relative;
  width: 100%;
  border-radius: 3rem;
  border: none;

  transition: all 0.3s ease;
}
.btn:hover {
  transform: scaleY(1.01) translateY(-0.1rem);
}
.btn:before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 0rem;
  background-color: #eee;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  opacity: 1;
}
.btn:hover:before {
  height: 6rem;
  opacity: 0;
}
.btn:focus {
  outline: none;
}
.btn__color {
  background-color: #219ebc;
  color: currentColor;
}
